<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>VMAF Analyzer</string>
	<key>CFBundleDisplayName</key>
	<string>VMAF Analyzer</string>
	<key>CFBundleIdentifier</key>
	<string>com.lightsailvr.vmafanalyzer</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2024 LightSail VR. All rights reserved.</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.prores-movie</string>
			<key>UTTypeDescription</key>
			<string>Apple ProRes Movie</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
					<string>mp4</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video Files</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>com.apple.prores-movie</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
</dict>
</plist>